@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #020617; /* slate-955 / slate-950 */
  color: #f8fafc; /* slate-50 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
